@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

html, body{  
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Main */ 

.container{
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col-100{
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.col-50{
    width: 50%;
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.opacity-20{
    opacity: 0.2;
    transition: opacity 1s;
}

/* Animations */

.blink{
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
  }

/* Rest colors */

.body-bg-rest{
    background-color: #a5c0f3;
    transition: background-color 1s;
}
.icons-color-rest button:disabled{
    color: #1c469233;
}
.icons-color-rest button{
    color: #1c4692;
}
.icons-color-rest{
    transition: color 1s;
}
.title-bg-rest{
    background-color: #1c4692;
    transition: background-color 1s;
}
.countdown-bg-rest{
    background-color: #1c46924d;
    transition: background-color 1s;
}

/* Train colors */

.body-bg-train{
    background-color: #cc4747;
    transition: background-color 1s;
}
.icons-color-train button:disabled{
    color: #be0b0b33;
}
.icons-color-train button{
    color: #be0b0b;    
}
.icons-color-train{
    transition: color 1s;
}
.title-bg-train{
    background-color: #be0b0b;
    transition: background-color 1s;
}
.countdown-bg-train{
    background-color: #be0b0b4d;
    transition: background-color 1s;
}


#title{
    width: 100%;
    font-size: 10vw;
    padding: 2vh 0px;
    margin: 0;
    font-family: 'Roboto';
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.settings-title{
    font-size: 8vw;
    padding: 10px;
    margin: 0;
    font-family: 'Roboto';
    color: #000;
}
#countdown-container{
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#countdown{
    display: block;
    font-family: 'Squada One';
    font-size: 25vw;
    padding-bottom: 3vh;
}

.semicolon{
    transition: opacity 1s;
}

.inputs-container{
    color: #000;
    font-size: 15vw;
    font-family: 'Squada One';
}
.inputs-container input{
    color: #000;
    font-size: 15vw;
    transition: color 1s;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-family: 'Squada One';
    text-align: right;
    caret-color: transparent;
    padding: 0;
    width: 35%;
}
.inputs-container input:first-child{
    text-align: right;
}
.inputs-container input:last-child{
    text-align: left;
    direction: rtl;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:disabled{
    color: #00000033;
    transition: color 1s;
}
input::placeholder{
    color: #00000033;
}

#icons{
    margin-top: 50px;
}
button{
    margin: 0 1vw;
    border: 0;
    padding: 0;
    background: none;
    outline: 0;
}
button:enabled:active{
    transform: scale(0.93);
    transition: all 50ms;
}
button:disabled{
    transform: scale(0.93);
}
button i{
    font-size: 25vw;
}

/* Media queries (mobile first) */

@media (min-width: 380px){
  .container{
      width: 360px;
  }
  #title{
      font-size: 36px;
  }
  #countdown{
      font-size: 100px;
  }
  .settings-title{
      font-size: 32px;
  }
  .inputs-container input, .semicolon{
      font-size: 56px;
  }
  button i{
      font-size: 100px;
  }
  button{
      margin: 0 5px;
  }
}
 @media (max-height: 480px) and (orientation: landscape){
    html, body{
        height: 100vw;
    }
 }
