@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body{
    margin: 0;
}
.container{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
}
.col{
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.col:first-child{
    padding-right: 5px;
}
.col:last-child{
    padding-left: 5px;
}

.body-bg-rest{
    background-color: #a5c0f3;
    transition: background-color 1s;
}

.icons-color-rest button:disabled{
    color: #1c469233;
}
.icons-color-rest button{
    color: #1c4692;
}
.icons-color-rest{
    transition: color 1s;
}
.title-bg-rest{
    background-color: #1c4692;
    transition: background-color 1s;
}
.countdown-bg-rest{
    background-color: #1c46924d;
    transition: background-color 1s;
}


.body-bg-train{
    background-color: #cc4747;
    transition: background-color 1s;
}
.icons-color-train button:disabled{
    color: #be0b0b33;
}
.icons-color-train button{
    color: #be0b0b;    
}
.icons-color-train{
    transition: color 1s;
}
.title-bg-train{
    background-color: #be0b0b;
    transition: background-color 1s;
}
.countdown-bg-train{
    background-color: #be0b0b4d;
    transition: background-color 1s;
}

#title{
    font-size: 10vw;
    padding: 10px;
    margin: 0;
    font-family: 'Roboto';
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#countdown{
    display: block;
    font-family: 'Squada One';
    font-size: 25vw;
    padding: 40px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#icons{
    margin-top: 50px;
}
button{
    margin: 0 1vw;
    border: 0;
    padding: 0;
    background: none;
    outline: 0;
}
button:enabled:active{
    transform: scale(0.93);
    transition: all 50ms;
}
button:disabled{
    transform: scale(0.93);
}
button i{
    font-size: 25vw;
}

/* Media queries (mobile first) */

@media (min-width: 380px){
    button{
        max-width: 120px;
    }
    #countdown{
        font-size: 100px;
    }
    #title{
        font-size: 40px;
    }
}

@media (min-width: 480px){
    button i{
        font-size: 120px;
    }
}

@media (min-width: 769px){
    .col{
        width: 50%;
    }
}

@media (min-width: 1025px){
    .col{
        max-width: 475px;
    }
    button{
        margin: 0 12px;
    }
}
